@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COMP2007 Midterm Exam</h1>
    <p class="lead">Your submission must include the GitHub and Azure links to your site.  You do not have to create a database. I have already set up the database and the connection to it so you can simply use this database.  The exam is open book – you may use Blackboard, class notes, files, or your text book but neither the internet no communication tools of any kind (email, chat, forums, etc). </p>
</div>

